// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright (C) 2019 SiFive, Inc
 */

#include "fu540-c000-u-boot.dtsi"
#include "fu540-hifive-unleashed-a00-sdram-ddr4.dtsi"

/ {
	aliases {
		spi0 = &qspi0;
		spi2 = &qspi2;
	};

	config {
		u-boot,spl-payload-offset = <0x105000>; /* @ 1044KB */
	};

	hfclk {
		u-boot,dm-spl;
	};

	rtcclk {
		u-boot,dm-spl;
	};
};

&qspi0 {
	u-boot,dm-spl;

	flash@0 {
		u-boot,dm-spl;
	};
};

&qspi2 {
	mmc@0 {
		u-boot,dm-spl;
	};
};

&gpio {
	u-boot,dm-spl;
};
