// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright (C) 2019 SiFive, Inc
 */

#include "fu540-c000-u-boot.dtsi"
#include "fu540-hifive-unleashed-a00-sdram-ddr4.dtsi"

/ {
	hfclk {
		u-boot,dm-spl;
	};

	rtcclk {
		u-boot,dm-spl;
	};
};

&qspi2 {
	mmc@0 {
		u-boot,dm-spl;
	};
};
